.repository-card {
    min-width: 15rem;
}

.repository-row {
    height: 1.5rem;
}

.project-name {
    max-width: 8rem;
}

.student-name {
    width: 10rem;
}

.total-number:hover {
    cursor: pointer;
}

.index-container {
    min-width: 90% !important;
}
